@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.instruction-container {
	height: 100%;
}

ul {
	margin: 20px;
}

ul li {
	margin: 10px;
	font-size: 1.1em;
	font-family: 'Josefin Sans', sans-serif;
}

.imp {
	color: red;
}